---
const { title = "jpgjenny - Videografin für Social Media", description = "Von der Idee zum fertigen Ergebnis." } = Astro.props;
import SiteHeader from "../components/SiteHeader.astro";
import "../styles/global.css";
import "../styles/project.css";
---
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <slot name="head" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Raleway:wght@600;700;800&display=swap"
      rel="stylesheet"
    />
    <script is:inline type="text/javascript">
      (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "v9ieuc042w");
    </script>
  </head>
  <body>
    <a class="skip-link" href="#main">Zum Inhalt springen</a>
    <SiteHeader />
    <slot />
    <script type="module" src="/scripts/main.js"></script>
  </body>
</html>
